{#
/**
 * @file tenant.html.twig
 * Default theme implementation to present Tenant data.
 *
 * This template is used when viewing Tenant pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tenant()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tenant') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
